/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    height:100%;
    max-width: 1440px;
    max-height: 1830px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/******* HEADER ********/
.header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    width: 1300px;
    padding-right: 50px;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 244px;
    height: 2%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
}

.menu-right{
    display: block;
    width: 100%;
    border-top: 2px solid #F2F2F2;
   padding-bottom: 10px;
   padding-top: 10px;
}

.menu-right:hover{
    border-color: #0065FC;
    color:#0065FC;
}

.m-between{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 60px;
    height: 20px;
    margin: 30px 0 30px 0;
}


/*********Trouvez votre hébergement************/

/* Trouvez votre hébergement */

.part1{
    margin-top: 30px;
}

.trouvez{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:10px
}

.h2trouvez{
    margin:0px;
}
.ptrouvez{
    margin:0px;
}


/* Section Formulaire recherche  */

.formulaire{
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-top: 40px;
}

.icone{
    background-color: var(--main-bg-color);  
    border: none; 
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 15px;
    font-size: 18px;
    width: 20px;
}

.textbox{
        padding: 15px;
        border-top: 1px solid var(--main-bg-color);
        border-bottom: 1px solid var(--main-bg-color);
        border-right: none;
        border-left: none;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        width: 100%;
        max-width: 210px; 
        outline: none; 
        box-sizing: border-box;
      }


.submit{
        background-color: #007bff; 
        color: #fff; 
        border: none; 
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 15px 15px;
        font-size: 20px;
        font-weight: bold;
}

.searchbar {
    display: none;
}

/* Section Filtres */
.filtres{
    margin-top: 40px;
    gap:20px;
}

.filtres-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    width: 700px;
}

.four-buttons{
    display: flex;
    gap:10px;
}

.button{
        background-color: #fff; 
        border: 2px solid #ccc; 
        color: #040404; 
        width: 110px;
        height: 20px;
        border-radius: 50px; 
        padding: 10px 20px; 
      }
      

.button:hover {
        background-color:#DEEBFF
}

.button-content{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.button-fam{
    width: 80px;
}

.fa-lg{
    font-size: 18px;
}
.fa-male{
    font-size: 20px;
}



/* info */

.info{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}

.button2{
    background-color: #fff; 
    border: 1px solid #ccc; 
    border-radius: 30px; 
    width:20px;
    height: 20px;
    display: flex;             /* Utilise Flexbox pour centrer le contenu */
    align-items: center;       /* Centre verticalement */
    justify-content: center;    /* Centre horizontalement */
}

.button2-content{ 
    padding: 1px;
    font-size: 10px;
}

/****** Hebergements And Populaires ***********/



.hebergements-and-populaires {
    width: 100%;
    width: 1300px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.hebergements-and-populaires section {
    /* background-color: var(--main-bg-color); */
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box; 
}

/******** Hebergements ***********/
.hebergements {
    background-color: var(--main-bg-color);
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
  }


.hebergements-cards {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
    gap: 30px;
  
}

.hebergement-card{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;
    margin-right: 2px;
}
.hebergements-card  a {
    display: contents;
}

.card2 {
    width: 230px;
    height: 190px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

}

.hebergements-cards img {
    width: 100%;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    display: block;
}

.hebergements-cards .card2-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    text-wrap: nowrap;
    box-sizing: border-box;
}

.hebergements-cards .card2-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 16px;
}

.hebergements-cards .card2-subtitle {
    margin: 0;
}

.hebergements-cards .card2-rating {
    margin-bottom: 5px;
}


/********* Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    height: 134px;
}

.populaires-cards img {
    width: 33%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/********** Activités à Marseille ********/

.activites {
    width: 1300px;
    max-width: 1440px;
    height: 559px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.activite-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.activite-cards{
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 2px;
}

.card3 {
    width: 298px;
    height: 439px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activite-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.activite-cards .card3-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 13px;
}


/******** footer *******/

.foot{
    background-color: var(--main-bg-color);
    width: 1300px;
}

.foot-columns{
    display: flex;
    margin-left: 20px;
}

.foot-column{
    width: 33%;
    height: 100%;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    

    .logo {
        width: 80px;
        height: 26px;
        margin: 50px 0 0 20px;
    }

    .menu {
        display: flex;
        width: 350px;
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        margin-top: 5px;
    }

    .part1{
        margin-left: 15px;
        margin-top: 80px;
        width:max-content;
    }

    .trouvez{
        gap:20px;
    }

    .h2trouvez{
        font-size: 30px;
    }

    .ptrouvez{
        font-size: 22px;
    }


    .formulaire{
        margin-top: 50px;

    }

    .formulaire .icone{
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 20px 20px 20px 25px;
        font-size: 24px;
        width: 25px;
        height: 25px;
    }

    .form{
        display: flex;
    }

    .textbox {
        padding: 15px;
        font-size: 24px;
        width: 100%;
        max-width: 270px;
    }

    .submit{
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 15px 15px;
        font-size: 22px;
        height:60px;
    }

    .searchbar {
        display: none;
    }

    .filtres {
        margin-top: 25px;
        margin-left: 10px;
    }

    .filtres-content {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap:0px;
        padding-left: 10px;
    }

    .Filtre-title{
        font-size: 22px;
    }


    .four-buttons{
        gap: 20px;
    }

    .button{
        border: 2px solid #ccc;
        width: 170px;
        height: 40px;
        border-radius: 50px;
        padding: 10px 20px;
    }


    .button-content {
        gap: 10px;
        font-size: 19px;
    }
    .fa-lg{
        font-size: 26px;
    }

    .button-fam{
        width: 130px;
    }

    .fa-male{
        font-size: 28px;
    }

    .button2-content {
        font-size: 15px;
    }
    
    .button2 {
        width: 30px;
        height: 30px;
    }

    .pinfo{
        font-size: 22px;
    }



    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        height: 860px;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .hebergements-title{
        padding-top: 20px;
        padding-left: 10px;
        padding-bottom: 20px;
    }
    .section-title{
        font-size: 32px;
    }


    .card2 {
    width: 360px;
    height: 280px;
    background-color: white;
    border-radius: 30px;
    padding: 6px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

    }

    .hebergements-cards img {
    width: 100%;
    height: 160px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
    display: block;
    }

    .hebergements-cards .card2-content {
        justify-content: space-around;
        height: 45%;
    }

    .hebergements-cards .card2-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 24px;
    }

    .hebergements-cards .card2-subtitle {
    font-size: 20px;
    }

    .hebergements-cards .card2-rating .fa-star {
        font-size: 19px;
    }

    .afficher{
    padding: 10px 0 0 20px;
    }
    .afficher-plus{
    font-size: 22px;
    }



    .populaires {
        width: 100%;
        height:350px;
        margin-top: 50px;
    }

    .populaires-title .fa-chart-line{
        font-size: 26px;

    }

    .populaires-content{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 30px;
    }

    .populaires-cards .card{
        width: 380px;
        height: 190px;
        border-radius: 30px;

    }

    .populaires-cards img {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    .populaires-cards a {
        width: 30%;
    }

    .card-content{
        padding-top: 5px;
       
    }

    .populaires-cards .card-title {
        font-size: 22px;
    }

    .populaires-cards .card-subtitle {
        font-size: 19px;
        padding-top: 5px;
    }

    .populaires-cards .card-rating .fa-star {
        font-size: 16px;
    }



    .activites{
        height: 500px;
        padding-bottom: 50px;
    }

    .activite-title{
        padding-left: 30px;
    }

    .activite-cards{
        padding-left: 10px;
        padding-right: 10px;
    }

    .card3{
        width: 270px;
        height: 380px;
        border-radius: 30px;
    }

    .activite-cards img {
        height:280px;
        justify-content: space-around;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    .activite-cards .card3-content{
        flex-wrap: wrap;
        padding-left: 25px;
        justify-content: center;
        height: 25%;
    }

    .activite-cards .card3-title{
        font-size: 22px;
    }

    .foot-columns{
        gap: 100px;
    }
    
    .foot-column{
        font-size: 22px;
        margin-left: 15px;
    }

}


/* ************************************************************ */
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    
.header {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-top: 100px;
}

.logo{
    width: 280px;
    height: 90px;
}

.menu {
    width: 110%;
    font-size: 36px;
    border-bottom: 10px solid #F2F2F2;
    margin-top: 150px;
}

.menu-right {
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 65px;
}

.menu-right:hover{
    border-color: #0065FC;
    color:#0065FC;
}

.m-between{
    justify-content: space-around;
}


.main-container{
    max-width:320px;
}



.part1{
    margin-left: 15px;
    margin-top: 200px;
    width:max-content;
}

.trouvez{
    gap:20px;
}

.h2trouvez{
    font-size: 90px;
    width: 55%;
}

.ptrouvez{
    font-size: 65px;
    padding-top: 20px;
}

.formulaire{
    margin-top: 150px;
    
}

.formulaire .icone{
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
    padding: 70px 20px 20px 70px;
    font-size: 72px;
    width: 120px;
    height: 120px;
}

.form{
    display: flex;
    width: 100%;
    max-width: max-content;
}

.textbox {
    padding: 15px;
    font-size: 73px;
    width: 90%;
    max-width: 900px;
    border-top: 2px solid #8080804a;
    border-bottom: 2px solid #8080804a;
}

.submit{
    display: none;
}

.searchbar{
    width: 220px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0065FC;
    box-shadow: 3px 12px 11px 15px rgba(0, 0, 0, 0.1);
    border-radius: 60px;
    border: none;
}

.searchbar i {
    color: white;
    font-size: 70px;
    }




.filtres{
    width: max-content;
}

.filtres-content{
    margin-top: 150px;
    width: 80%;
}


.Filtre-title{
    font-size: 63px;
}

.four-buttons{
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    gap: 30px;
}

.mobile-pad{
    padding-top: 50px;
}

.button {
    border: 8px solid #cccccca9;
    width: 600px;
    height: 160px;
    border-radius: 100px; 
}

.button-content{
    font-size: 48px;
    gap:50px
}

.fa-lg{
    font-size: 80px;
}


.fa-male{
    font-size: 90px;
}


.info{
    max-width: 50%;
    gap:50px;
    margin-top: 100px;
}

.button2-content {
    font-size: 42px;
}

.button2 {
    width: 120px;
    height: 90px;
    border-radius: 150px;
    border: 4px solid rgba(177, 173, 173, 0.454)
}

.pinfo{
    font-size: 64px;
}


.hebergements-and-populaires{
    flex-direction: column-reverse;
    gap:50px;
}

.populaires{
    height: 2350px;
    width: 110%;
    background-color: var(--main-bg-color);
}

.section-title{
    font-size: 90px;
    padding-top: 70px;
}

/* .fa-chart-line{
    font-size: 50px;
} */


.populaires-content{
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.populaires-cards {
    flex-direction: column;
    margin-top: 30px;
    gap: 40px;
}

.populaires-cards .card{
    width: 1300px;
    height: 560px;
    border-radius: 90px;
    padding: 15px;
}

.populaires-cards img {
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
}

.populaires-cards a {
    width: 30%;
}

.card-content{
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.populaires-cards .card-title {
    font-size: 65px;
}

.populaires-cards .card-subtitle {
    font-size: 55px;
    padding-top: 10px;
}

.populaires-cards .card-rating .fa-star {
    font-size: 50px;
}


.hebergements{
    height: 5800px;
    width: 110%;
    flex-direction: column;
    background-color: white;
    margin-top: 80px;
}

.hebergements-cards {
    flex-direction: column;
    gap: 80px;
}

.card2 {
    width: 1300px;
    height: 770px;
    border-radius: 90px;
    padding: 15px;
}

.hebergements-cards img {
    width: 100%;
    height: 450px;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    object-fit: cover;
    display: block;
    }

    .hebergements-cards .card2-content {
        justify-content: space-around;
        padding-left: 40px;
        padding-bottom: 20px;
    }

    .hebergements-cards .card2-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 64px;
    }

    .hebergements-cards .card2-subtitle {
    font-size: 56px;
    padding-top: 20px;
    }

    .hebergements-cards .card2-rating .fa-star {
        font-size: 52px;
    }


    .afficher{
        padding-top: 10px;
    }
    .afficher-plus{
    font-size: 64px;
    }




    .activites{
        height: 3700px;
        margin-top: 50px;
        padding-bottom: 30px;
        flex-direction: column;
    }

    .activite-title{
        padding-left: 30px;
    }

    .activite-cards{
        padding-top: 100px;
        padding-left: 110px;
        padding-right: 10px;
        flex-direction: column;
        gap:60px;
    }

    .card3{
        width: 1300px;
        height: 780px;
        border-radius: 90px;
    }

    .activite-cards img {
        height:540px;
        border-top-left-radius: 90px;
        border-top-right-radius: 90px;
    }

    .activite-cards .card3-content{
        padding-left: 60px;
    }

    .activite-cards .card3-title{
        font-size: 64px;
    }


    .foot{
        width: 1500px;
    }
   

    .foot-columns{
        flex-direction: column;
        gap: 50px;
        padding-left: 30px;
        padding-top: 60px;
        padding-bottom: 40px;
    }
    
    .foot-column{
        font-size: 63px;
        margin-left: 15px;
        width: 100%;
    }


}